<a href="https://colab.research.google.com/github/itimes-digital/deep-learning-estudo/blob/main/classificacao_binaria_simples_breast_cancer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [5]:
previsores = pd.read_csv("https://raw.githubusercontent.com/itimes-digital/deep-learning-estudo/main/dataset/entradas_breast.csv", sep=",")
previsores.head()

    radius_mean   texture_mean  ...   symmetry_worst   fractal_dimension_worst
0         17.99          10.38  ...           0.4601                   0.11890
1         20.57          17.77  ...         275.0000                   0.08902
2         19.69          21.25  ...           0.3613                   0.08758
3         11.42          20.38  ...           0.6638                 173.00000
4         20.29          14.34  ...           0.2364                   0.07678

[5 rows x 30 columns]

In [6]:
previsores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 569 entries, 0 to 568
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0    radius_mean              569 non-null    float64
 1    texture_mean             569 non-null    float64
 2    perimeter_mean           569 non-null    float64
 3    area_mean                569 non-null    float64
 4    smoothness_mean          569 non-null    float64
 5    compactness_mean         569 non-null    float64
 6    concavity_mean           569 non-null    float64
 7   concave_points_mean       569 non-null    float64
 8    symmetry_mean            569 non-null    float64
 9    fractal_dimension_mean   569 non-null    float64
 10   radius_se                569 non-null    float64
 11   texture_se               569 non-null    float64
 12   perimeter_se             569 non-null    float64
 13   area_se                  569 non-null    float64
 14   smoothness_se            569 non-null    float64
 15   compactness_se           569 non-null    float64
 16   concavity_se             569 non-null    float64
 17   concave_points_se        569 non-null    float64
 18   symmetry_se              569 non-null    float64
 19   fractal_dimension_se     569 non-null    float64
 20   radius_worst             569 non-null    float64
 21   texture_worst            569 non-null    float64
 22   perimeter_worst          569 non-null    float64
 23   area_worst               569 non-null    float64
 24   smoothness_worst         569 non-null    float64
 25   compactness_worst        569 non-null    float64
 26   concavity_worst          569 non-null    float64
 27   concave_points_worst     569 non-null    float64
 28   symmetry_worst           569 non-null    float64
 29   fractal_dimension_worst  569 non-null    float64
dtypes: float64(30)
memory usage: 133.5 KB

In [ ]:
classe = pd.read_csv