<a href="https://colab.research.google.com/github/itimes-digital/deep-learning-estudo/blob/main/udacity/tensorflow_fashion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install -U tensorflow_datasets

In [11]:
from __future__ import absolute_import, division, print_function

import tensorflow as tf
import tensorflow_datasets as tfds
#tf.compat.v1.logging.get_verbosity(tf.logging.ERROR)

import math
import numpy as np
import matplotlib.pyplot as plt

import tqdm
import tqdm.auto
tqdm.tqdm = tqdm.auto.tqdm

print(tf.__version__)

tf.compat.v1.enable_eager_execution()

2.4.1

In [16]:
import pandas as pd

In [13]:
dataset, metadata = tfds.load('fashion_mnist', as_supervised = True, with_info = True)
train_dataset, test_dataset = dataset['train'], dataset['test']

In [18]:
class_names = ['T-shirt/top', 'Trouser', 'Pullover', 'Dress', 'Coat',
               'Sandal', 'Shirt', 'Sneaker', 'Bag', 'Ankle boot']

In [19]:
number_label = [0,1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
label_class = pd.DataFrame(data= {'Label': number_label, 'Class': class_names})
label_class

   Label        Class
0      0  T-shirt/top
1      1      Trouser
2      2     Pullover
3      3        Dress
4      4         Coat
5      5       Sandal
6      6        Shirt
7      7      Sneaker
8      8          Bag
9      9   Ankle boot

In [24]:
num_train_examples = metadata.splits['train'].num_examples
num_test_examples = metadata.splits['test'].num_examples
print('Number of training examples: {}'.format(num_train_examples))
print('Number of test examples:     {}'.format(num_test_examples))

Number of training examples: 60000
Number of test examples:     10000

### **PreProcess the data**

In [28]:
def normalize(images, labels):
    image = tf.cast(images, tf.float32)
    images /= 255
    return images, labels

In [29]:
train_dataset = train_dataset.map(normalize)
test_dataset = test_dataset.map(normalize)

### **Explore the processed data**

In [31]:
for image, label in test_dataset.take(1):
    break
    image = image.numpy().reshape((28, 28))

    plt.figure()
    plt.imshow(image, cmap = plt.cm.binary)
    plt.colorbar()
    plt.grid(False)
    plt.show()